@model IEnumerable<Bán_hàng.Areas.Admin.Models.SanPham>

<p>
    <a asp-action="ViewCreate" class="btn btn-success">Thêm sản Phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Masp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tensp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dongia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Masp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tensp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dongia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soluong)
                </td>
                <td>
                    <img src="~/ADMIN/Images/@item.Hinh" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>
                <td>
                    <a asp-action="ViewEdit" asp-route-MaSp="@item.Masp" class="btn btn-primary text-light">Sửa</a>
                    <a asp-action="Delete" asp-route-MaSp="@item.Masp" class="btn btn-danger text-light">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>