@model IEnumerable<BanHang.ViewModelsAdmin.LSGiaoDich>

@{
    ViewData["Title"] = "ViewLSGiaoDich";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-striped mb-5">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienThanhToan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @string.Format("{0:n0}", item.TienThanhToan) VND
            </td>
           
        </tr>
}
    </tbody>
</table>
