@model IEnumerable<BanHang.ViewModelsAdmin.DoanhThu>

@{
    ViewData["Title"] = "ViewDoanhThu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    var dssp = Model.Select(p => p.Tensp).ToList();
    var dsspString = string.Join("\", \"", dssp);
    var doanhthuString = string.Join(", ", Model.Select(p => p.TongTien).ToList());

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<canvas id="pie-chart" width="800" height="450" class="my-5"></canvas>
<table class="table table-striped mb-5">
    <thead style="background-color:rgba(246, 234, 186, 0.86)">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tensp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dongia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                Doanh Thu %
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tensp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dongia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soluong)
                </td>
                <td>
                    @string.Format("{0:n0}", item.TongTien) VND
                </td>
                <td>
                    @string.Format("{0:n3}", (item.TongTien * 100.0 / ViewBag.TongDoanhThu)) %
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row form-group ml-3 mr-3">
    <p class="font-weight-bold form-control col-4 " style="background-color: rgba(215, 241, 238, 0.84)">Tổng doanh thu:</p>
    <p class="font-weight-bold form-control col-8 text-center" style="background-color: rgba(215, 241, 238, 0.84);"> @string.Format("{0:n0}", ViewBag.TongDoanhThu) VND</p>
</div>
<script>
    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
            labels: ["@Html.Raw(dsspString)"],
            datasets: [{
                label: "Population (millions)",
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850","yellow","green","purple"],
                data: [@doanhthuString]
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Doanh Thu 2020'
            }
        }
    });
</script>
